*.o

# Von reswrap erzeugte Icon-Header (Makefile-Ziel res/foxres.h)
*/res/foxres.h

# Gebaute Programme -- je Dienst gleich benannt wie sein Ordner
dnsmgr/dnsmgr
dhcpmgr/dhcpmgr
compmgmt/compmgmt
dcpromo/dcpromo
dsadmin/dsadmin
termsvc/termsvc
services/services

# Testprogramme aus dsadmin/Makefile
dsadmin/test_admparser
dsadmin/test_regpol
dsadmin/test_aas
services/test_svccore
